@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-colour: #282828;
  --text-colour: #ebdbb2;
  --orange: #fe8019;
  --red: #fb4934;
  --green: #b8bb26;
  --yellow: #fabd2f;
  --blue: #83a598;
  --aqua: #8ec07c;
  --purple: #d3869b;
}

body {
  margin: 0 auto;
  max-width: 720px;
  font-family: 'Cascadia Code', monospace;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-colour);
  line-height: 1.75;
  background-color: var(--background-colour);
}

.site-title {
  margin: 20px 0;
  font-size: 22px;
  color: var(--orange);
}

nav {
  margin-bottom: 20px;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

hr {
  border: 1px dashed var(--blue);
}

main {
}

h2 {
  margin: 20px 0 10px 0;
  font-size: 18px;
  font-weight: bold;
  color: var(--red);
}

h3 {
  font-size: 16px;
  color: var(--aqua);
}

p {
  margin: 10px 0;
}

a {
  color: var(--purple);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  margin: 20px 0;
  text-align: center;
}

@media (max-width: 520px) {
}
