* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --off-white: #f7f7f7;
  --dark-grey: #333;
  --blue: #3c3cff;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark-grey);
  background-color: var(--off-white);
}

a,
a:visited {
  color: var(--blue);
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 22px;
  font-weight: normal;
}

main {
  width: 50%;
  margin: 0 auto;
}

.profile-image img {
  width: 225px;
  height: auto;
}

.title {
  margin: 0 15px;
}

.links {
  margin: 15px;
}

.links a {
  display: flex;
  align-items: center;
  margin: 20px 15px;
  text-decoration: none;
  color: var(--dark-grey);
}

.links img {
  width: 60px;
  height: auto;
  margin-right: 20px;
}

.contact {
  margin: 25px 15px;
}

.contact p {
  font-style: italic;
  margin: 10px 0;
}

footer p {
  margin: 25px 15px;
}

/* Responsiveness */

@media (max-width: 950px) {
  main {
    width: 80%;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 18px;
  }

  main {
    width: 90%;
  }

  h1 {
    font-size: 40px;
  }

  .profile-image img {
    width: 150px;
    height: auto;
  }
}
