* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: sans-serif;
    background-color: #f7f7f7;
    color: black;
    display: flex;
    flex-direction: column;
    /*transition: background-color 2s ease;*/
}

h1 {
    text-align: center;
}

a {
    color: #1474e0;
}

a:hover {
    color: #0b3d75;
}

a:visited {
    color: #0b3d75;
}

/* Opening welcome */
.explainer {
    text-align: center;
    font-size: 1.4em;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 60%;
    /* background-color: #fcfcfc; */
    background-color: #313131;
    color: #ededed;
}

/* Site Title */

.title-main {
    font-size: 2em;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 1em;
    vertical-align: middle;
}

.title-sub {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1em;
    display: inline-block;
    vertical-align: top;
}

.site-name a {
    display: block;
    padding: 25px 20px;
    text-decoration: none;
    color: black;
}

.site-name a:hover {
    animation: titleSkew 1s ease;
}

/* Navigation Bar */
#navbar {
    margin-bottom: 20px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav li a {
    display: block;
    padding: 25px 20px;
    text-decoration: none;
    color: black;
}

nav li a:hover {
    animation: titleSkew 1s ease;
    color: black;
}

nav li a:visited {
    color: black;
}

.nav-link {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
    margin: 5px auto 20px auto;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

/* Footer */
footer {
    margin-top: auto;
    width: 100%;
    clear: both;
    padding: 18px 0;
    background-color: #262626;
    color: #ededed;
}

footer p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
}

.footer-links a {
    color: #ededed;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-direction: row;
}


/* Animations */
@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes spaceshipMain {
    0% {
        transform: translateY(-60px);
    }

    50% {
        transform: translateY(60px);
    }

    100% {
        transform: translateY(-60px);
    }
}

@keyframes titleSkew {
    0% {
        transform: skewX(0deg);
    }
    
    30% {
        transform: skewX(10deg);
    }

    60% {
        transform: skewX(-10deg);
    }

    100% {
        transform: skewX(0deg);
    }
}

/* Responsive navbar */

@media (max-width: 800px) {
    #navbar {
        flex-direction: column;
    }

    .site-name a {
        padding: 25px 10px;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    nav li a {
        padding: 15px;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links.active {
        display: flex;
    }

    .explainer {
        font-size: 1.2em;
        width: 80%;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }
}